body {
    font-size: 13px;
}
.navbar {
    background: #202020;
    border-bottom: none;
    margin-bottom: 0;
    height: 62px;
}
.navbar-nav {
    margin: 10px -10px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #bd1f3a;
}
.navbar-brand {
    float: left;
    padding: 21px 10px;
    font-size: 18px;
    line-height: 20px;
}
.navbar .navbar-header .navbar-brand {
    padding: 0;
    margin-right: 12px;
    background-color: #bd1f3a;
    height: auto;
}
.navbar .navbar-header .navbar-brand .logo-container{
    background: url("../img/header-logo.png") 9px center no-repeat;
    width: 220px;
    height: 62px;
    max-width: 55px;
    margin-right: 15px;
    margin-left: 8px;
    transition: max-width 0.5s ease-in-out;
}
.navbar .navbar-header .navbar-brand .logo-container:hover {
    max-width: 185px
}
.navbar .navbar-collapse li {
    background: url("../img/header-nav-divider.png") right 50% no-repeat;
}
.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}
.navbar .navbar-collapse .navbar-nav>li>a:focus, 
.navbar .navbar-collapse .navbar-nav>li>a:hover {
    color: #bd1f3a;
    background-color: #202020;
}
.navbar .navbar-collapse .navbar-nav>li>a {
    color: white;
}
.navbar .navbar-collapse .animax .tagline ,
.navbar .navbar-collapse .animax .contact {
    margin-top: 19px;
    margin-right: 26px;
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 900px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.navbar .navbar-collapse .animax .tagline.active ,
.navbar .navbar-collapse .animax .contact.active {
    opacity: 1;
}
.navbar .navbar-collapse .tagline .white {
    color: white;
}

.navbar .navbar-collapse .tagline .red {
    color: #cc2d48;
}

.navbar .navbar-collapse .contact a {
    color: #f5f5f5;
}
@media (max-width: 1400px){
    .navbar .navbar-header .navbar-brand  {
        max-width: 188px;
        margin-right: 14px;
    }
}
@media (max-width: 1400px){
    .navbar .navbar-collapse .navbar-nav {
        margin-bottom: 0px;
        margin-top: 0px;
}
@media (max-width: 1400px) {
    .navbar .navbar-collapse .animation {
        display: none !important;
    }
}

.banner-container { 
    width: 100%;
    position: relative;
    margin-top: 60px;
    width: 100%;
    overflow: hidden;
}
.banner-container .banner-section {
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 6px;
    width: 100%;
    background-position: left top, left top;
    background-repeat: repeat-x, repeat;
    text-align: center;
}
.banner-container .banner-section .banner-content {
    display: inline-block;
    margin-top: 12.0%;
}
.banner-container .banner-section h4 {
    opacity: 0.9;
    color: #FFFFFF;
    font-weight: 200;
}
h4 {
    font-size: 24px;
    line-height: 29.55px;
}
@media only screen and (max-width: 767px)  {
h4 {
    margin-bottom: 40px;
    }
}
.banner-container #banner-img-container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 998;
    margin: 0 0 0 0;
    background: url("../img/bidPress.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat no-repeat;
}
@media screen and (min-width: 324px) and (max-width: 1400px){
.banner-container #banner-img-container {
    min-height: 524px;
    }
}
.banner-container .banner-section h1 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 75px;
}
.green-button {
    background: #7ED321;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 40%;
    padding: 19px 30px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
    transition: all .5s ease-out;
    margin: 0 auto;
    display: inline-block;
}
.arrow {
    background: url("../img/arrow-right.png") left center no-repeat;
    height: 14px;
    width: 15px;
    margin-left: 15px;
    display: inline-block;
}
.homepage article.portfolio-container {
    background-color: #f1f1f1;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #E4E4E4;
}
.homepage article.portfolio-container h2 {
    font-family: "proxima-nova",Helvetica;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
}
h2 {
    font-size: 30px;
    line-height: 51.55px;
}

.homepage .perspective-container #text2 {
    padding-top: 95px;
    text-align: center;
}
.homepage .perspective-container #text1 {
    padding-top: 95px;
}

.homepage .perspective-container #text1 h1 {
    margin-right: 15px;
    text-align: right;
}
.golden-circle .what {
    background: url("../img/what-active.png") no-repeat center center;
    height: 337px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.golden-circle .how  {
    background: url("../img/how.png") no-repeat center center;
    height: 214px;
    width: 179px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.golden-circle .why {
    background: url("../img/why.png") no-repeat center center;
    height: 93px;
    width: 78px;
}
.homepage .perspective-container .list li {
    display: block;
    font-size: 30px;
    line-height: 1.5;
}
.red-text {
    color: #d22341;
}
.homepage .services-container {
    background-color: #f1f1f1;
    padding-bottom: 40px;
}
@media (max-width: 1400px) {
    .homepage .services-container {
        padding-bottom: 0;
    }
}
.homepage .services-container h1 {
    font-family: "proxima-nova",Helvetica;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 100;
}
.homepage .services-container .service-item {
    text-align: center;
}
.homepage .services-container .service-item img {
    display: block;
    margin: 0 auto;
    height: 63px;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.homepage .services-container .service-item h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 200;
}
.homepage .services-container .service-item p {
    min-height: 75px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}
.homepage .services-container .service-item a {
    font-size: 18px;
    color: #d22341;
    text-align: center;
}
.right-arrow {
    display: inline-block;
    margin-left: 10px;
    width: 14px;
    height: 11px;
    background: url("../img/arrow-right-red.png") no-repeat;
}
.homepage .services-container .shipping p {
    font-size: 18px;
    margin: 0;
    text-align: center;
    background-color: #f6f6f6;
    min-height: 75px;
    line-height: 75px;
    margin-right: 10px;
    margin-left: 10px;
}
@media (max-width: 1400px)  {
   .homepage .services-container .service-item {
        margin-bottom: 65px;
    }
}
footer {
    background: #e4e4e4;
    width: 100%;
    display: block;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 2%;
}
.hexagone { 
    height: 227px;
    max-width: 197px;
    margin: auto;
    padding: 5em 0 4.5em 0;
    background: url("../img/hexagon-footer-bg.png") no-repeat, center center;
    background-size: auto 100%;
    background-origin: padding-box;
}
.hexagone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.hexagone2 { 
    height: 227px;
    max-width: 197px;
    margin: auto;
    padding: 5em 0 4.5em 0;
    background: url("../img/hexagon-footer-bg.png") no-repeat, center center;
    background-size: auto 100%;
    background-origin: padding-box;
    text-align: center;
}
@media (max-width: 1400px)  {
   .homepage .perspective-container {
        margin-bottom: 65px;
        margin-top: 65px;
    }
}
footer .heading {
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 200;
}
.center {
    text-align: center;
    margin-left: 0px;
    margin-top: 25px;
}
.spacer {
    padding: 20px;
    overflow: hidden;
}
.copyright {
    font-size: 18px;
    color: #333;
    clear: both;
    border-top: 1px solid #9e9e9e;
    margin: 0 auto;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
    font-weight: 200;
}